@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #060606 !important;
  font-family: "Poppins", sans-serif !important;
}

.ff_poppins {
  font-family: "Poppins", sans-serif !important;
}

.ff_almarai {
  font-family: "Almarai", sans-serif !important;
}

@font-face {
  font-family: 'mazzardregular';
  src: url('/public/assets/fonts/MazzardL-Regular.otf');
}

@font-face {
  font-family: 'mazzardsemibold';
  src: url('/public/assets/fonts/MazzardL-SemiBold.otf');
}

@font-face {
  font-family: 'mazzardbold';
  src: url('/public/assets/fonts/MazzardL-Bold.otf');
}

.ff_mazzardregular {
  font-family: 'mazzardregular', sans-serif;
}

.ff_mazzardbold {
  font-family: 'mazzardbold', sans-serif;
}

.ff_mazzardsemibold {
  font-family: 'mazzardsemibold', sans-serif;
}


@property --rotation {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.loading-box {
  --radius: 2px;
  position: relative;
  transition: all .3s linear;
}

.loading-box::before {
  --rotation: 0deg;
  content: unset;
  border-radius: 12px !important;
  width: calc(100% + 2 * var(--radius));
  height: calc(100% + 2 * var(--radius));
  position: absolute;
  top: calc(-1 * var(--radius));
  left: calc(-1 * var(--radius));
  background: conic-gradient(from var(--rotation), #4d4d4d33, #4d4d4d29, #3145EC, #00BCD4);
  animation: rotate-border 5s linear infinite;
  z-index: -1;
}

.loading-box:hover::before {
  content: '' !important;
}

@keyframes rotate-border {
  to {
    --rotation: 360deg;
  }
}

.loading-box1 {
  --radius: 2px;
  position: relative;
  transition: all .3s linear;
}

.loading-box1::after {
  --rotation: 0deg;
  content: '';
  border-radius: 24px !important;
  width: calc(100% + 2 * var(--radius));
  height: calc(100% + 2 * var(--radius));
  position: absolute;
  top: calc(-1 * var(--radius));
  left: calc(-1 * var(--radius));
  background: conic-gradient(from var(--rotation), #4d4d4d33, #4d4d4d29, #3145EC, #00BCD4);
  animation: rotate-border 5s linear infinite;
  z-index: -1;
}

.loading_discover {
  --radius: 1px;
  position: relative;
  transition: all .3s linear;

}

.loading_discover::after {
  --rotation: 0deg;
  content: '';
  border-radius: 12px !important;
  width: calc(100% + 2 * var(--radius));
  height: calc(100% + 2 * var(--radius));
  position: absolute;
  top: calc(-1 * var(--radius));
  left: calc(-1 * var(--radius));
  background: conic-gradient(from var(--rotation), #4d4d4d33, #4d4d4d29, #3145EC, #00BCD4);
  animation: rotate-border 5s linear infinite;
  z-index: -1;
}